/** Fuentes **/
$font-main: 'Roboto', sans-serif;
$font-text: 'Open Sans', sans-serif;

/** Colores **/
$color-primary: #FFE600;
$gray-dark: #333333;
$gray: #666666;
$gray-light: #999999;
$gray-very-light: #EEEEEE;
$blue: #3483FA;
$white: #FFFFFF;
$black: #000000;

/** Resoluciones **/
$mobile: '375px';
$tablet: '768px';
$desktop: '1280px';
